.container {
  /*background: pink;*/
  width: 900px;
  color: #888;
  font-size: 14px;
  margin: 0 auto;
  /*font-family: 'Redacted', arial;*/
}

.main {
  display: flex;
}

.responsive-img {
  width: 100%;
  height: auto;
}

.header {
  color: #888;
  width: 100%;
  padding: 40px 10px 5px 10px;
  border-bottom: 1px solid #c1c1;
  margin-bottom: 20px;
}

.content {
  /*background: gray;*/
  width: 60%;
  padding: 0 10px;
}

.sidebar {
 /*background: cyan;*/
 width: 40%;
 padding: 0 10px;
}

.btn {
  /*color: black;*/
  /*padding: 5px 30px;*/
  /*line-height: 2.6;*/
  /*background: black;*/
}



.flip-cards-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 320px) {
    .flip-cards-container {
      flex-direction: row;
    }
}

.flip-card-wrapper {
  width: 150px;
  height: 210px;
  margin: 10px;
  position: relative;
}

.flip-card {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease; 
}

.flip-card.active {
  transform:rotateY(180deg);
}

.flip-card-back,
.flip-card-front {
  backface-visibility: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;

  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.flip-card-front {
  border: 1px solid silver;
  cursor: pointer;
}

.flip-card-back {
  transform: rotateY(180deg);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; 
}

.flip-card-modal-head {
  font-weight: 600;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.flip-card-info {
  position: absolute;
  cursor: pointer;
  left: 1rem;
  top: 1.2rem;
}





